<% if (title) { %>
    <h1><%= title %></h1>
<% } %>


<!-- Display flash messages, if any (success or error) -->
<% if (messages && messages.success && messages.success.length) { %>
  <div class="flash-message success"><%= messages.success %></div>
<% } %>

<% if (messages && messages.error && messages.error.length) { %>
  <div class="flash-message error"><%= messages.error %></div>
<% } %>

<!-- Display server-side validation errors, if any -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="login-container">
  <form action="/inv/add-inventory" method="POST">
      <label for="inv_make">Make</label>
      <input type="text" name="inv_make" id="inv_make" required>
      
      <label for="inv_model">Model</label>
      <input type="text" name="inv_model" id="inv_model" required>
      
      <label for="inv_year">Year</label>
      <input type="number" name="inv_year" id="inv_year" required>

      <!-- Classification Drop-Down -->
      <label for="classificationList">Classification:</label>
      <!--
          classificationList is a pre-built select element passed by the controller.
          It shows the classification names to the user, but the values are the classification_id.
      -->
      <%- classificationList %> <!-- Injects the dynamically generated dropdown -->
          
      <label for="inv_description">Description</label>
      <textarea name="inv_description" id="inv_description" required></textarea>
      
      <label for="inv_price">Price</label>
      <input type="number" name="inv_price" id="inv_price" required>

      <label for="inv_image">Image URL:</label>
      <input type="text" id="inv_image" name="inv_image" required
        value="/images/vehicles/no-image.png">

      <label for="inv_thumbnail">Thumbnail URL:</label>
      <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
      value="/images/vehicles/no-image-tn.png">
      
      <label for="inv_miles">Miles</label>
      <input type="number" name="inv_miles" id="inv_miles" required>
      
      <label for="inv_color">Color</label>
      <input type="text" name="inv_color" id="inv_color" required>
      
      <button type="submit">Submit</button>
  </form>
</div>